* {
    box-sizing: border-box;
}
.navigation {
    background-color: #628ecb !important;
}
.navigation a {
    color: #fff;
    transition-duration: .3s;
}
.navigation a:hover, .footer a:hover {
    color: #EDEDED;
}
main {
    min-height: 80vh;
    width: 100%;
    margin-top: 50px;
}

.footer {
    background-color: #628ecb !important;
    color: #fff;
    width: 100%;
    margin-top: 50px;
}
.container-footer {
    padding: 20px;
}
.footer a {
    text-align: center;
    padding: 0 2rem !important;
    color: #fff;
    transition-duration: .3s;
}
.footer-nav {
    min-height: 100px !important;
}
.main_container_nav {
    display: flex;
    justify-content: space-around;
    padding: 5vh 0;
}
.main_container_nav a {
    color: #628ecb;
    transition-duration: .3s;
}

.form-group {
	margin-bottom: 8px;
}

.form-group label {
	display: inline-block;
	margin-bottom: 8px;
}

.form-control {
	font-family: inherit;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    outline:none; 
    box-shadow: 0px 0px 5px  #d42828;
}

.input-group-my {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	border-radius: 4px;
}

.input-group-my .form-control{
	border-radius: 0 4px 4px 0;
	flex: 1;
}

.group-prepend {
	color: #495057;
	background-color: #e9ecef;
    border: 1px solid #ced4da;
	border-radius: 4px 0 0 4px;
	padding: 6px 12px;
	margin-right: -1px;
}

/* Ссылки */
.link-primary {
	color: #d42828;
    text-decoration: none;	
}

.link-primary:hover{
	color: #a52020;
    text-decoration: underline;	
}

.link-secondary {
	color: #212529;
	text-decoration: none;
}

.link-secondary:hover {
	text-decoration: underline;	
}

/* Уведомления */
.alert {
    padding: 12px 20px;
    border: 1px solid transparent;
    border-radius: 4px;	
	margin-bottom: 8px;
	display: none;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;	
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;	
}

.alert-show {
	display: block;
}
.about{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}