.addbutton {
	text-align: center;
	vertical-align:middle;
	font-size: 13px;
	width: 283px;
	border: 1px solid #70A9FD;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	cursor: pointer;
	margin: 10px auto;
	color: #326DC5;
	padding: 4px;
	background-color:#BED6FF;
}

.deletebutton {
	width: 20px;
	height: 22px;
	cursor: pointer;
	margin: 5px;
	display:inline-block;
	background: url(../docs/img/delete.png) repeat;
	background-position: center center;
	background-repeat: no-repeat;
	position:absolute;
	top: 10px;
	right: 10px;
}
.deletebuttonDelete{
	width: 20px;
	height: 22px;
	cursor: pointer;
	margin: 5px;
	display:inline-block;
	background: url(../docs/img/delete.png) repeat;
	background-position: center center;
	background-repeat: no-repeat;
	position:relative;
	top: 10px;
	right: 10px;
}
.add {
	position:relative;
}
.new-test{
	width: 70%;
	margin: 10px auto; 
	padding: 10px;
	text-align: center;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);

}
.new-test p{
	text-align: center;
	font-size: 32px;
	margin: -10px;
	background: rgb(238, 244, 255);
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 20px 20px 0 0;
}
.answer{
	display: inline-block;
  margin: 10px;
    text-align: center;
    width: 40%;
    font-size: 1.9em;
}
.answer input{
    margin: 5px;
}
.answer img{
    width: 50%;
    margin-left: 25%;
}
.correct{
	color:rgb(81, 142, 255);
}
.false{
	color:rgb(255, 81, 81);
}
.add_field_area input, .admin-test-form input, .admin-test-form select{
	display: inline-block;
	border-radius: 20px;
    padding: 10px;
    margin: 5px;
    border: 1px solid rgb(180, 180, 180);
    width: 200px;
}
.add_field_area .load, .admin-test-form .load{
	display: inline-block;
	border-radius: 20px;
    padding: 10px;
    margin: 5px;
    border: none;
}
.add_field_area .correct{
    width: 30px;
}
.add_field_area textarea{
	display: inline-block;
    margin: 5px;
    width:70%;
    resize: none;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid rgb(221, 221, 221);
}
.admin-test-form label{
	display: inline-block;
    margin: 5px;
    min-width: 200px;
}
.add_field_area label{
	display: inline-block;
    margin: 5px;
    min-width: 100px;
}
hr{
	border: 1px solid #eee;
}
.admin-btn {
        font-size: 16px;
        font-family: inherit;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;
        text-decoration: none;
        padding: 6px 12px;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.timer{
    visibility: hidden;
}
.admin-btn {
    color: #d42828;
    border-color: #d42828;	
}

.admin-btn:hover {
	color: #fff;
	background-color: #d42828;
	border-color: #d42828;
}

.admin-btn:focus {
    outline:none; 
    box-shadow: 0px 0px 5px #d42828;
}
a{
	text-decoration: none;
	color: rgb(66, 135, 255);
}
.header-href{
	text-decoration: none;
	font-size: 20px;
	
	text-align: center;
}
.test{
	width: 70%;
	margin: 10px auto;
	padding: 10px;
	text-align: center;
	border-bottom: solid 1px #eee;
	background-color: #fff;
	border-radius: 20px;
}
img{
	width: 250px;
	float: right;
}
.test-render{
	margin: 50px;
	text-align: center;
	margin-top: 50px;
}
.question{
	vertical-align:top;
}
.quest img{
    float: none;
    width: 20%;
    margin: 25px;
    margin-left: 15%;
    display: inline-block;
}
.test img{
	width: 100px;
	float: none;
	margin: 5px;
}
.wrapped_question{
    width: 90%;
    margin: 0 auto;
    padding-top: 1px;
    background: linear-gradient(0.25turn, #fff, #000, #fff);
    border-radius: 5px;
    padding-bottom: -1px;
    margin: 5px auto;
    margin-bottom: 25px;
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
}
.quest{
    padding: 5px 0px 5px 10px;
    border-bottom: 1px solid #eee;
}
.quest h3{
    margin-bottom: 5px;
    text-align: center;
}
.quest p{
    width: 70%;
    margin: 10px auto;
}
.question{
	width: 100%;
	text-align: left;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    background-color: #f7f5f5;
    padding-bottom: 10px;
}

.example{
	margin: 0 40px 40px 0;
	width: 90%;
    text-align: left;
    padding: 10px 0px 10px 5px;
}
.example p{
    margin: 10px 0 10px 0;
}
.example span{
    color: rgb(66, 135, 255);
}
.example .red{
  color: #f7f5f5;
  padding: 2px;
  padding-bottom: 3px;
  border-radius: 100%;
}
.example .blue{
  color: #f7f5f5;
  background: #2196F3;
}
.example img{
	float: none;
}

.help{
    padding: 10px;
    padding-left: 15%;

}
.main_blur {
    filter: blur(5px);
  }
  
  .main__button {
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 15px;
    background: #fff;
    color: #eabd45; 
    font-size: 22px;
    padding: 20px 40px;
    cursor: pointer;
    outline: none;
  }
  
  .modal {
    opacity: 0;
    visibility: hidden;
    transition: .3s all;
  }
  
  .modal_visible {
    opacity: 1;
    visibility: visible;
  }
  
  .modal__overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.43);
    position: fixed;
  }
  
  .modal__title {
    color: white;
    padding: 10px 20px;
    background: #ff5252;
  }
  
  .modal__text {
    background: white;
    padding: 20px;
    font-size: 18px;
  }
  .modalInput{
    width: 30px;
    text-align: center;
  }
  .modal__close-icon {
    position: absolute;
    top: 1px;
    right: 5px;
    cursor: pointer;
    color: white;
  }
  .modal__window div{
    margin-top: 10px;
  }
.main__content{
  height: 100px;
}
.modal__alert{
	text-align: center;
  top: 10%;
  left:   50%;
  max-width: 400px;
  width: 90%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
  position: fixed;
}
.new input{
	display: inline-block;
}.new {
    margin: 80px 0;
}

.new > label {
    display: block;
    font-weight: 600;
    margin: 20px 0;
    font-size: 1.2em;
}

.new > input, .new > select {
	padding: 5px;
    outline: none;
    width: 100%;
}

.new-img {
    max-width: 100%;
    max-height: 80vh;
}

.new-name, .new-theme {
    margin: 10px 0;
    font-size: 1.4em;
    border: none;
	border-bottom: 1px solid #000;
	border-radius: 5px;
}

.edit-new-name, .edit-new-theme {
    transition: opacity .3s ease;
}

.edit-new-name:disabled, .edit-new-theme:disabled  {
    opacity: .5;
}

.new-lesson {
    margin: 10px 0;
    font-size: 1.1em;
    border: none;
    border-bottom: 1px solid #000;
}

.edit-new-lesson {
    transition: opacity .3s ease;
}

.edit-new-lesson:disabled {
    opacity: .5;
}
.nav-test a{
  display: inline-block;
  width: 48%;
}
.nav-test a:nth-child(1) {
  text-align: left;
 } 
 .nav-test a:nth-child(2) {
  text-align: right;
 }

#check:checked ~ .includes {
  animation-name: open;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

@keyframes open {
  0% {
    display: block;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 20%;
    height: 25px;
    width: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.062); /* Параметры тени */
    border:1px solid #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: rgba(0, 96, 185, 0.096)
  }
  
  /* When the checkbox is checked, add a blue background */
  .container .correct-choose {
    background-color: #2196F3;
  }
  .container .false-choose {
    background-color: rgb(243, 33, 33);
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container .correct-choose:after,   .container .false-choose:after  {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .correct-quest{
    background-color: rgb(203, 212, 255);
  }
  .false-quest{
    background-color: rgb(238, 183, 183);
  }