.addbutton {
	text-align: center;
	vertical-align:middle;
	font-size: 13px;
	width: 283px;
	border: 1px solid #70A9FD;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	cursor: pointer;
	margin: 10px auto;
	color: #326DC5;
	padding: 4px;
	background-color:#BED6FF;
}

.deletebutton {
	width: 20px;
	height: 22px;
	cursor: pointer;
	margin: 5px;
	display:inline-block;
	background: url(../docs/img/delete.png) repeat;
	background-position: center center;
	background-repeat: no-repeat;
	position:absolute;
	top: 10px;
	right: 10px;
}
.deletebuttonDelete{
	width: 20px;
	height: 22px;
	cursor: pointer;
	margin: 5px;
	display:inline-block;
	background: url(../docs/img/delete.png) repeat;
	background-position: center center;
	background-repeat: no-repeat;
	position:relative;
	top: 10px;
	right: 10px;
}
.add {
	position:relative;
}
.new-test{
	width: 70%;
	margin: 10px auto; 
	padding: 10px;
	text-align: center;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);

}
.new-test p{
	text-align: center;
	font-size: 32px;
	margin: -10px;
	background: rgb(238, 244, 255);
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 20px 20px 0 0;
}
.answer{
	display: inline-block;
	margin: 10px;
	text-align: center;
}
.correct{
	color:rgb(81, 142, 255);
}
.add_field_area input, .admin-test-form input, .admin-test-form select{
	display: inline-block;
	border-radius: 20px;
    padding: 10px;
    margin: 5px;
    border: 1px solid rgb(180, 180, 180);
    width: 200px;
}
.add_field_area .load, .admin-test-form .load{
	display: inline-block;
	border-radius: 20px;
    padding: 10px;
    margin: 5px;
    border: none;
}
.add_field_area .correct{
    width: 30px;
}
.add_field_area textarea{
	display: inline-block;
    margin: 5px;
    width:70%;
    resize: none;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid rgb(221, 221, 221);
}
.admin-test-form label{
	display: inline-block;
    margin: 5px;
    min-width: 200px;
}
.add_field_area label{
	display: inline-block;
    margin: 5px;
    min-width: 100px;
}
hr{
	border: 1px solid #eee;
}
.admin-btn {
        font-size: 16px;
        font-family: inherit;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;
        text-decoration: none;
        padding: 6px 12px;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.admin-btn {
    color: #d42828;
    border-color: #d42828;	
}

.admin-btn:hover {
	color: #fff;
	background-color: #d42828;
	border-color: #d42828;
}

.admin-btn:focus {
    outline:none; 
    box-shadow: 0px 0px 5px #d42828;
}
a{
	text-decoration: none;
	color: rgb(66, 135, 255);
}
.header-href{
	text-decoration: none;
	font-size: 20px;
	
	text-align: center;
}
.test{
	width: 70%;
	margin: 10px auto;
	padding: 10px;
	text-align: center;
	border-bottom: solid 1px #eee;
	background-color: #fff;
	border-radius: 20px;
}
img{
	width: 250px;
	float: right;
}
.question{
	vertical-align:top;
}
.test img{
	width: 60%;
	float: none;
}
.example img{
	width: 60%;
	float: none;
}