* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: "Segoe UI";
	color: #212529;
}

main{
	border-top: #ececec 1px solid;
	border-left: #ececec 1px solid;
	background-color: #f1f1f1;
	min-height: 800px;
}
/* Боковая панель */
.sidebar {
    background-color: #628ecb;
	width: 250px;
	transition: width .3s ease;
	overflow: hidden;
	position: fixed;
	height: 100%;
	padding-top: 65px;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-show {
	width: 0px;
}

.sidebar li a {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
    color: rgb(228, 228, 228);
    text-decoration: none;
	font-weight: 500;
	padding: 8px 16px;
	width: 250px;
}

.sidebar li i {
	margin-right: 12px;
}

.sidebar li:hover a{
	color: #d63434;
}

.sidebar .sidebar-header {
	padding: 8px 16px;
}

.sidebar .sidebar-node {
	margin-bottom: 16px;
}

/* Основная панель */
.wrapper {
	margin-left: 250px;
	transition: margin-left .3s ease;
	min-width: 320px;
}

.content-show {
	margin-left: 0;
}

.wrapper .navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 16px 32px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, .05);
	background-color: #628ecb;
	color:#f1f1f1;
}

.wrapper .navbar a{
	text-decoration: none;
	color: #eeeeee;
}

/* Параграфы */
.lead {
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 16px;	
}

.text {
	line-height: 24px;
	margin-bottom: 8px;	
}

.text-muted {
	color: #6c757d;
	font-size: 12.8px;
    font-weight: 400;
}
.profile{
	text-align: center;
	padding: 50px;
	margin: 100px auto 0 auto;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-radius: 20px;
	width: 400px;
}
.admin-add-form{
	text-align: left;
}
.admin-add-form label{
	display: inline-block;
	min-width: 100px;
}
.h1-high{
	text-align: center;
	margin: 20px;
	color: #628ecb;
}