.alert{
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    border: 1px rgb(224, 224, 224) solid; 
    margin: 20px;
}
main{
	padding: 50px;
}
.red{
    background-color: rgb(230, 81, 81);
    color: rgb(241, 241, 241);
}
.red div{
    color: rgb(0, 0, 0);
}
.blue{
    background-color: rgb(107, 134, 252);
}